{% extends 'template/app.twig' %}

{% block body %}
    <div id="form-section" class="container-fluid signin">
        <div class="row">
            <div class="form-holder">
                {% include 'template/partials/auth/main-links.twig' %}
                
            </div>
        </div>
    </div>

    <div id="apps" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row-icon">
                        <img src="assets/img/logo.png" style="width: 80px;">
                    </div>
                    <div class="row-title">Authorize Your Account</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="apps-holder">
                        <div class="apps-details-holder">
                            <div class="app-details">
                                <div class="app-details1 show-details">
                                    <div class="col-md-5">
                                        <div class="img-holder">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="app-title">
                                            Heading
                                        </div>
                                        <div class="app-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'template/partials/html_blocks/footer.twig' %}
{% endblock %}