{% extends 'template/website.twig' %}

{% block body %}
    <div id="form-section" class="container-fluid signup">
        {% include 'template/partials/auth/website-logo.twig' %}
        <div class="row">
            {% include 'template/partials/auth/sidebar.twig' %}
            <div class="form-holder">
                {% include 'template/partials/auth/main-links.twig' %}
                <div class="signin-signup-form">
                    <div class="form-items">
                        <div class="form-title">Sign Up</div>
                        {% include 'template/partials/messages/auth-message.twig' %}
                        {% include 'partials/forms/auth/signup-form.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}