{% extends 'template/app.twig' %}
{% block body %}
<div class="overflow-hidden">
    <div class="container d-flex align-items-stretch ui-mh-100vh p-0">
        <div class="row w-100">
            <div class="d-flex col-md justify-content-center align-items-center order-2 order-md-1 position-relative p-5">
                <div class="error-bg-skew bg-white"></div>
                <div class="text-md-left text-center">
                    <h1 class="display-2 font-weight-bolder mb-4">Oops...</h1>
                    <div class="text-xlarge font-weight-light mb-5">If the problem continues, <a href="{{ path_for('contact-us') }}" ><u>contact us</u></a>.</div>
                    <div class="buttons-holder">
                        <a href="" class="ybtn ybtn-accent-color">Reload</a>
                    </div>
                </div>
            </div>
            <div class="d-flex col-md-5 justify-content-center align-items-center order-1 order-md-2 text-center text-white p-5">
                <div>
                    <div class="error-code font-weight-bolder mb-2">405</div>
                    <div class="error-description font-weight-light">Request Method Not Allowed</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}