{% extends 'template/app.twig' %}
{% block additional_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/../node_modules/intl-tel-input/build/css/intlTelInput.css">
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'partials/forms/trade/post-ad-form.twig' %}
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
<script src="{{ base_url() }}/../node_modules/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="{{ base_url() }}/../node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/../node_modules/intl-tel-input/build/js/intlTelInput.js"></script>
{% endblock %}