{% extends 'template/app.twig' %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'partials/forms/trade/post-ad.twig' %}
        </div>
    </div>
{% endblock %}