{% if flash.getMessage('message') %}
    <div class="alert alert-warning alert-dismissible alert-auth" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ flash.getMessage('message') | first }}
    </div>
{% endif %}