{% extends 'template/app.twig' %}



{% block body %}
    <div id="header-holder" class="inner-header">
        <div class="whitebg"><img src="assets/img/headbg.svg" alt=""></div>
        {% include 'template/partials/html_blocks/navbar.twig' %}
    </div>










    
{% endblock %}