<form action="{{ path_for('auth.signup') }}" method="POST" id="signupform" autocomplete="off">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="form-text">
                <input type="text" name="first-name" placeholder="Enter Your First Name" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-text">
                <input type="text" name="other-names" placeholder="Enter Your Other Names" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-text">
                <input type="text" name="username" placeholder="Enter A Preferred Username" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="form-text">
                <input type="email" name="email" placeholder="Enter Your Email Address" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-text">
                <input type="text" name="phone-number" placeholder="Enter Your Phone Number" required>
            </div>
        </div>
    </div>

    <div class="form-text text-holder">
        <span class="text-only">By Sigining Up You Agree To Our <a href="terms-conditions">Terms &amp; Conditions</a></span>
    </div>

    <div class="form-button">
        <button id="submit" type="submit" class="ybtn ybtn-accent-color">Sign Up</button>
    </div>
</form>