<form id="signinform">
    <div class="form-text">
        <input type="email" name="signin[email]" placeholder="Enter Your Email Address" required>
    </div>
    <div class="form-text text-holder">
        <span class="text-only">Preferred Authentication Method</span>
    </div>
    <div class="form-text text-holder">
        <input type="radio" name="signin[auth-method]" class="hno-radiobtn" id="rad1" checked><label for="rad1">Email</label>
        <input type="radio" name="signin[auth-method]" class="hno-radiobtn" id="rad2"><label for="rad2">Sms</label>
        <input type="radio" name="signin[auth-method]" class="hno-radiobtn" id="rad3"><label for="rad3">Google Auth</label>
    </div>

    <div class="form-button">
        <button id="submit" type="submit" class="ybtn ybtn-accent-color">Next</button>
    </div>
</form>