{% if uri == 'sign-in' %}
    <div class="menu-holder">
        <ul class="main-links">
            <li class="hidden-xs"><a class="normal-link" href="{{ path_for('auth.signup') }}">Don’t have an account?</a></li>
            <li><a class="sign-button" href="{{ path_for('auth.signup') }}">Sign up</a></li>
        </ul>
    </div> 
{% endif %}

{% if uri == 'sign-up' %}
    <div class="menu-holder">
        <ul class="main-links">
            <li class="hidden-xs"><a class="normal-link" href="{{ path_for('auth.signin') }}">You have an account?</a></li>
            <li><a class="sign-button" href="{{ path_for('auth.signin') }}">Sign in</a></li>
        </ul>
    </div>
{% endif %}