<div class="info-slider-holder">
    <div class="bg-animation"></div>
    <div class="info-holder">
        <h6>A little Heading</h6>
        <div class="bold-title">
            it’s not that going to be<br>easy <span>to complete.</span>
        </div>
        <div class="mini-testimonials-slider hidden">
            <div>
                <div class="details-holder">
                    <img class="photo" src="assets/img/person1.jpg" alt="">
                    <h4>Chris Walker</h4>
                    <h5>CEO & CO-Founder @HelloBrandio</h5>
                    <p>“In hostify we trust. I am with them for over 7 years now. It always felt like home!Loved their customer support”</p>
                </div>
            </div>
            <div>
                <div class="details-holder">
                    <img class="photo" src="assets/img/person1.jpg" alt="">
                    <h4>Chris Walker</h4>
                    <h5>CEO & CO-Founder @HelloBrandio</h5>
                    <p>“In hostify we trust. I am with them for over 7 years now. It always felt like home!Loved their customer support”</p>
                </div>
            </div>
        </div>
    </div>
</div>