<div class="crypto-feature" id="rates">
    <div class="col-xs-12 col-sm-4">
        <div class="crypto-outer-div">
            <div class="crypto-box">
                <div class="crypto-icon">
                    <img src="{{ base_url() }}/assets/img/coins/bitcoin.png" alt="">
                </div>
                <div class="crypto-title">Bitcoin  <span class="bitcoin" v-text="btc.pctchange"></span></div>
                <div class="crypto-details bitcoin">
                    <small>GHS</small><span v-text="btc.priceghsformatted"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="crypto-outer-div">
            <div class="crypto-box">
                <div class="crypto-icon">
                    <img src="{{ base_url() }}/assets/img/coins/etherum.png" alt="">
                </div>
                <div class="crypto-title">Ethereum <span class="ethereum" v-text="eth.pctchange"></span></div>
                <div class="crypto-details ethereum">
                    <small>GHS</small><span v-text="eth.priceghsformatted"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="crypto-outer-div">
            <div class="crypto-box">
                <div class="crypto-icon">
                    <img src="{{ base_url() }}/assets/img/coins/litecoin.png" alt="">
                </div>
                <div class="crypto-title">Litecoin <span class="litecoin" v-text="ltc.pctchange"></span></div>
                <div class="crypto-details litecoin">
                    <small>GHS</small><span v-text="ltc.priceghsformatted"></span>
                </div>
            </div>
        </div>
    </div>
</div>
