<div class="crypto-feature" id="rates">
    <div class="col-xs-12 col-sm-4 pl-0 pr-0">
        <div class="crypto-box">
            <div class="crypto-icon">
                <img src="{{ base_url() }}/assets/img/coins/bitcoin.png" alt="">
            </div>
            <div class="crypto-title">Bitcoin  <span><span class="bitcoin" v-text="btc.pctchange"></span>%</span></div>
            <div class="crypto-details bitcoin">
                <small>GHS</small><span v-text="btc.price"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 pl-0 pr-0">
        <div class="crypto-box">
            <div class="crypto-icon">
                <img src="{{ base_url() }}/assets/img/coins/etherum.png" alt="">
            </div>
            <div class="crypto-title">Ethereum <span><span class="ethereum" v-text="eth.pctchange"></span%</span>></div>
            <div class="crypto-details ethereum">
                <small>GHS</small><span v-text="eth.price"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 pl-0 pr-0">
        <div class="crypto-box">
            <div class="crypto-icon">
                <img src="{{ base_url() }}/assets/img/coins/litecoin.png" alt="">
            </div>
            <div class="crypto-title">Litecoin <span><span class="litecoin" v-text="ltc.pctchange"></span%</span>></div>
            <div class="crypto-details litecoin">
                <small>GHS</small><span v-text="ltc.price"></span>
            </div>
        </div>
    </div>
</div>
