<div class="info-slider-holder">
    <div class="bg-animation"></div>
    <div class="info-holder">
        <h6>A little Heading</h6>
        <div class="bold-title">
            it’s not that going to be<br>easy <span>to complete.</span>
        </div>
    </div>
</div>