<div id="message1" class="container-fluid message-area normal-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-other-color1">Heading</div>
                <div class="text-other-color2">At vero eos et accusamus et iusto odio </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="buttons-holder">
                    <a href="{{ path_for('auth.sign-up') }}" class="ybtn ybtn-accent-color">Create Your Account</a><a href="{{ path_for('contact-us') }}" class="ybtn ybtn-white">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>