<div id="minimum-amount-to-trade">
    <h4>Minimum <strong v-text="selectedCoinName"></strong> Amount</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-text">
                    <input type="number" name="min-amount" id="min-amount" placeholder="" v-on:change="minTradeAmount" min="0.000001" v-bind:max="amountToTrade" required>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p>Minimum <strong v-text="selectedCoinSName"></strong> amount in one trade. <span class="br-xs">(GHS <strong v-text="minAmountGHS"></strong> / USD <strong v-text="minAmountUSD"></strong>)</span></p>
        </div>
    </div>
</div>
<div id="maximum-amount-to-trade">
    <h4>Maximum <strong v-text="selectedCoinName"></strong> Amount</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-text">
                    <input type="number" name="max-amount" id="max-amount" placeholder="" readonly v-model="amountToTrade">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p>Maximum <strong v-text="selectedCoinSName"></strong> amount in one trade. <span class="br-xs">(GHS <strong v-text="tradeAmountGHS"></strong> / USD <strong v-text="tradeAmountUSD"></strong>)</span></p>
        </div>
    </div>
</div>
<div>
    <h4>Payment Method</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-text">
                    <select id="payment-method" name="payment-method">
                        <option value="" disabled selected>Select An Option</option>
                        <option v-for="option in paymentMethods" v-bind:value="option.value" v-text="option.text"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>