{% extends 'template/app.twig' %}



{% block body %}
    <div id="header-holder" class="inner-header">
        <div class="bg-animation"></div>
        <div class="whitebg"><img src="assets/img/swapbg.svg" alt=""></div>
        {% include 'template/partials/html_blocks/navbar.twig' %}
        {% include 'template/partials/html_blocks/page-head.twig' %}
    </div>

    








    {% include 'template/partials/html_blocks/footer.twig' %}
{% endblock %}