{% extends 'template/website.twig' %}
{% block body %}
{% include 'partials/components/preloader.twig' %}

    <div id="header-holder" class="homepage-header">
        <div class="bg-animation"></div>
        {% include 'partials/html_blocks/navbar.twig' %}
        <div id="page-head" class="container inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 text-center">
                        <div class="logo-icon">
                            <img src="assets/img/wallet-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 pl-0 pr-0">
                        <div class="head-content">
                            <p><span>Swap</span> is a peer-to-peer exchange for crypto currencies.</p>
                            <p class="fs-15">
                                Trade <strong>Bitcoin</strong>, <strong>Ethereum</strong> and <strong>Litecoin</strong> 
                                for fiat currency on an easy, secure and fast platform. We place the trading power in your hands and keep up the trust.
                            </p>
                        </div>
                        <div class="row">
                            {% include 'partials/components/rates-home.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="home-services" class="container-fluid">
        <div class="bg-color"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="home-services-box home-services-color1">
                        <div class="home-services-content">
                            <div class="home-services-title">Title</div>
                            <div class="home-services-details">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus.<br>Blanditiis praesentium voludiv.</p>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus.<br>Blanditiis praesentium voludiv.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="home-services-box home-services-color1">
                        <div class="home-services-content">
                            <div class="home-services-title">Title</div>
                            <div class="home-services-details">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus.<br>Blanditiis praesentium voludiv.</p>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus.<br>Blanditiis praesentium voludiv.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="home-services-box home-services-color1">
                        <div class="home-services-content">
                            <div class="home-services-title">Title</div>
                            <div class="home-services-details">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus.<br>Blanditiis praesentium voludiv.</p>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus.<br>Blanditiis praesentium voludiv.</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="" alt="">
                        </div>
                        <div class="service-title"><a href="#">Title</a></div>
                        <div class="service-details">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="" alt="">
                        </div>
                        <div class="service-title"><a href="#">Title</a></div>
                        <div class="service-details">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="" alt="">
                        </div>
                        <div class="service-title"><a href="#">Title</a></div>
                        <div class="service-details">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="" alt="">
                        </div>
                        <div class="service-title"><a href="#">Title</a></div>
                        <div class="service-details">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/html_blocks/footer.twig' %}
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/assets/js/website/home.js"></script>
{% endblock %}
