<form class="form" id="post-ad-form">
    <div id="trade-type">
        <h4>Trade Type</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text mb-10">
                        <input type="radio" name="trade-type" id="rad1" value="buy" checked>
                        <label for="rad1">Buy</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <input type="radio" name="trade-type" id="rad2" value="sell">
                        <label for="rad2">Sell</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="coin-details">
        <h4>Select Coin</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select id="coin-name" name="coin-name">
                            <option value="" disabled selected>Select An Option</option>
                            <option value="">Bitcoin</option>
                            <option value="">Ethereum</option>
                            <option value="">Litecoin</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-6">
                        <span></span> USD Price
                    </div>
                    <div class="col-xs-6">
                        <strong><span></span> GHS / <span></span> USD</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="exhange-rate" class="mb-15">
        <h4>USD to GHS rate</h4>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-xs-6"><strong>4.8018 GHS / 1 USD</strong></div>
                    <div class="col-xs-6"><a class="btn-change">Change</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="currency">
        <h4>Currency</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select name="currency" disabled>
                            <option value="CDF">CDF</option>
                            <option value="CHF">CHF</option>
                            <option value="USD">USD</option>
                            <option value="PLN">PLN</option>
                            <option value="CFA">CFA</option>
                            <option value="EUR">EUR</option>
                            <option value="ZMW">ZMW</option>
                            <option value="PEN">PEN</option>
                            <option value="BOB">BOB</option>
                            <option value="DZD">DZD</option>
                            <option value="ARS">ARS</option>
                            <option value="XAF">XAF</option>
                            <option value="NOK">NOK</option>
                            <option value="BND">BND</option>
                            <option value="KRW">KRW</option>
                            <option value="CAD">CAD</option>
                            <option value="ZAR">ZAR</option>
                            <option value="RWF">RWF</option>
                            <option value="NZD">NZD</option>
                            <option value="CNY">CNY</option>
                            <option value="TZS">TZS</option>
                            <option value="UAH">UAH</option>
                            <option value="RUB">RUB</option>
                            <option value="MXN">MXN</option>
                            <option value="TWD">TWD</option>
                            <option value="SGD">SGD</option>
                            <option value="GBP">GBP</option>
                            <option value="JPY">JPY</option>
                            <option value="KES">KES</option>
                            <option value="THB">THB</option>
                            <option value="IDR">IDR</option>
                            <option value="LAK">LAK</option>
                            <option value="IRR">IRR</option>
                            <option value="GHS" selected>GHS</option>
                            <option value="PHP">PHP</option>
                            <option value="BYN">BYN</option>
                            <option value="OMR">OMR</option>
                            <option value="PKR">PKR</option>
                            <option value="ILS">ILS</option>
                            <option value="DKK">DKK</option>
                            <option value="COP">COP</option>
                            <option value="QAR">QAR</option>
                            <option value="NAD">NAD</option>
                            <option value="AUD">AUD</option>
                            <option value="SEK">SEK</option>
                            <option value="AED">AED</option>
                            <option value="MYR">MYR</option>
                            <option value="TRY">TRY</option>
                            <option value="MMK">MMK</option>
                            <option value="NPR">NPR</option>
                            <option value="NGN">NGN</option>
                            <option value="VND">VND</option>
                            <option value="UGX">UGX</option>
                            <option value="BRL">BRL</option>
                            <option value="INR">INR</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2"><span class="explanation">Currency in exchange for <span></span></span></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-text">
                    <label for="ecur-amount">Ecurrency Amount</label>
                    <div class="form-text">
                        <input id="ecur-amount" name="ecur-amount" placeholder="Enter Ecurrency Amount" value="" required="" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Amount in USD</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Amount in GHS</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">   

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-text">
                    <label for="ecur-amount">Trade fee in e-currency</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Trade fee in USD</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Trade fee in GHS</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">   

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-md-4">
                <div class="form-text">
                    <label for="ecur-amount">Trade fee in e-currency</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Trade fee in USD</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Trade fee in GHS</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">   

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-text">
                    <label for="ecur-amount">Total fee in e-currency</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Total fee in USD</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">
                                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-text">
                    <label>Total fee in GHS</label>
                    <div class="form-text">
                        <div class="alert alert-danger" role="alert">   
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="payment-info">
        <h4>Payment Info</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-text">
                        <label for="payment-method">Payment method</label>
                        <select id="payment-method" name="payment-method">
                            <option value="" disabled selected>Select An Option</option>
                            <option value="">Bank Transfer</option>
                            <option value="">MTN Mobile Money</option>
                            <option value="">Airtel|Tigo Money</option>
                            <option value="">Vodafone Cash</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-text">
                        <label for="bank-name">Bank name</label>
                        <select id="bank-name" name="bank-name">
                        <option value="" disabled selected>Select An Option</option>
                        <option value="">Ecobank</option>
                        <option value="">Access Bank</option>
                        <option value="">Other</option>
                        </select>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-text">
                    <label for="account-number">Account Number</label>
                    <div class="form-text">
                        <input id="account-number" name="account-number" placeholder="Enter Account Number eg 830074934508" value="" required="" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-text">
                    <label for="account-name">Account Name</label>
                    <div class="form-text">
                        <input id="account-name" name="account-name" placeholder="Enter Account Name eg Swap User" value="" required="" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="post-ad">
            <div class="row">
                <div class="pull-right">
                    <div class="form-button">
                        <button type="button" class="ybtn ybtn-accent-color" data-toggle="modal" data-target="#custom-settings">Custom Settings</button>
                        <button id="submit" type="submit" class="ybtn ybtn-accent-color">Create Ad</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</form>
