<form class="form" id="post-ad-form" action="{{ path_for('app.trade') }}" method="POST" autocomplete="off">
    {{ csrf.fields | raw }}
    <div>
        <h4>Trade Type - <span class="text-purple-light" v-text="selectedTradeTypeText"></span></h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text mb-10">
                        <input type="radio" name="trade-type" id="rad1" value="buy" checked v-on:click="changeTradeType">
                        <label for="rad1">Buy</label>
                    </div>
                    <div class="form-text">
                        <input type="radio" name="trade-type" id="rad2" value="sell" v-on:click="changeTradeType">
                        <label for="rad2">Sell</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="coin-details">
        <h4>Select Coin</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select name="coin-name" v-on:change="selectCoin">
                            <option value="" disabled selected>Select An Option</option>
                            <option value="btc">Bitcoin</option>
                            <option value="eth">Ethereum</option>
                            <option value="ltc">Litecoin</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="row" >
                    <template v-if="selectedCoin">
                        <div class="col-xs-4">
                            <p><span v-text="selectedCoinName"></span> Price</p>
                        </div>
                        <div class="col-xs-8">
                            <p>GHS <strong v-text="selectedCoinGHS"></strong> / USD <strong v-text="selectedCoinUSD"></strong></p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="mb-15">
        <h4>USD to GHS Exchange Rate</h4>
        <div class="row">
            <template v-if="changeRate">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-text">
                            <input step="any" type="number" name="exhange-rate" id="exhange-rate" placeholder="" v-model="exchangeRate">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <p>GHS <strong v-text="exchangeRate"></strong> / USD <strong>1.00</strong> <a class="btn-change" v-on:click="changeExchangeRate">Default Rate</a></p>
                </div>
            </template>
            <template v-else>
                <div class="col-md-6">
                    <p>GHS <strong v-text="exchangeRate"></strong> / USD <strong>1</strong></p>
                </div>
                <div class="col-md-6">
                    <p><a class="btn-change" v-on:click="changeExchangeRate">Change</a></p>
                </div>
            </template>
        </div>
    </div>
    <div id="currency">
        <h4>Currency</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select name="currency" disabled="disabled">
                            <option value="CDF">CDF</option>
                            <option value="CHF">CHF</option>
                            <option value="USD">USD</option>
                            <option value="PLN">PLN</option>
                            <option value="CFA">CFA</option>
                            <option value="EUR">EUR</option>
                            <option value="ZMW">ZMW</option>
                            <option value="PEN">PEN</option>
                            <option value="BOB">BOB</option>
                            <option value="DZD">DZD</option>
                            <option value="ARS">ARS</option>
                            <option value="XAF">XAF</option>
                            <option value="NOK">NOK</option>
                            <option value="BND">BND</option>
                            <option value="KRW">KRW</option>
                            <option value="CAD">CAD</option>
                            <option value="ZAR">ZAR</option>
                            <option value="RWF">RWF</option>
                            <option value="NZD">NZD</option>
                            <option value="CNY">CNY</option>
                            <option value="TZS">TZS</option>
                            <option value="UAH">UAH</option>
                            <option value="RUB">RUB</option>
                            <option value="MXN">MXN</option>
                            <option value="TWD">TWD</option>
                            <option value="SGD">SGD</option>
                            <option value="GBP">GBP</option>
                            <option value="JPY">JPY</option>
                            <option value="KES">KES</option>
                            <option value="THB">THB</option>
                            <option value="IDR">IDR</option>
                            <option value="LAK">LAK</option>
                            <option value="IRR">IRR</option>
                            <option value="GHS" selected>GHS</option>
                            <option value="PHP">PHP</option>
                            <option value="BYN">BYN</option>
                            <option value="OMR">OMR</option>
                            <option value="PKR">PKR</option>
                            <option value="ILS">ILS</option>
                            <option value="DKK">DKK</option>
                            <option value="COP">COP</option>
                            <option value="QAR">QAR</option>
                            <option value="NAD">NAD</option>
                            <option value="AUD">AUD</option>
                            <option value="SEK">SEK</option>
                            <option value="AED">AED</option>
                            <option value="MYR">MYR</option>
                            <option value="TRY">TRY</option>
                            <option value="MMK">MMK</option>
                            <option value="NPR">NPR</option>
                            <option value="NGN">NGN</option>
                            <option value="VND">VND</option>
                            <option value="UGX">UGX</option>
                            <option value="BRL">BRL</option>
                            <option value="INR">INR</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <template v-if="selectedCoin">
                    <p><span>Currency in exchange for <span v-text="selectedCoinName"></span></span></p>
                </template>
            </div>
        </div>
    </div>
    <div id="amount-to-trade">
        <h4>Amount To Trade</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <input type="number" name="amount" id="amount" placeholder="" v-on:change="tradeAmount" min="0.001">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p>GHS <strong v-text="tradeAmountGHS"></strong> / USD <strong v-text="tradeAmountUSD"></strong></p>
            </div>
        </div>
    </div>
    <div class="mb-15">
        <h4>Trade Fee</h4>
        <div class="row">
            <div class="col-md-6">
                <p><strong v-text="tradeFee"></strong> <span v-text="selectedCoinSName"></span></p>
            </div>
            <div class="col-md-6">
                <p><strong><span></span> GHS / <span></span> USD</strong></p>
            </div>
        </div>
    </div>
    <div class="mb-15">
        <h4>Displayed Price</h4>
        <div class="row">
            <div class="col-md-12">
                </p><strong><span></span> GHS</strong></p>
            </div>
        </div>
    </div>
    <hr>
    <div id="minimum-amount-to-trade">
        <h4>Minimum <span v-text="selectedCoinName"></span> Amount</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <input type="number" name="min-amount" id="min-amount" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p>Minimum <span v-text="selectedCoinSName"></span> amount in one trade. (at least 0.001 <span v-text="selectedCoinSName"></span>)</p>
            </div>
        </div>
    </div>
    <div id="maximum-amount-to-trade">
        <h4>Maximum <span v-text="selectedCoinName"></span> Amount</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <input type="number" name="max-amount" id="max-amount" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p>Maximum <span v-text="selectedCoinSName"></span> amount in one trade</p>
            </div>
        </div>
    </div>
    <hr>
    <div id="location-details">
        <h4>Location</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select id="location" name="location">
                            <option value="" disabled selected>Select A Location</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>Reject Unverified Users</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text mb-10">
                        <input type="checkbox" name="reject-unverified-users" id="reject" value="yes" checked>
                        <label for="reject">Yes</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p class="mt-0">This Trade Ad will be available only to<a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?"> Verified Users</a>.</p>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h4>Payment Method</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select id="payment-method" name="payment-method">
                            <option value="" disabled selected>Select An Option</option>
                            <option value="">Bank Transfer</option>
                            <option value="">Mobile Money</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>Payment Timeout</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-text">
                        <select id="payment-timeout" name="payment-timeout">
                            <option value="" disabled>Select An Option</option>
                            <option value="15" selected>15 minutes</option>
                            <option value="30">30 minutes</option>
                            <option value="60">1 hour</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <p>Trade will be cancelled automatically after <span></span></p>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h4>Terms of Trade</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-text">
                        <textarea rows="5" id="terms-of-service" name="terms-of-service" placeholder="Please type out your Terms for this Trade."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-button">
        <button id="submit" type="submit" class="ybtn ybtn-accent-color">Create Trade</button>
    </div>
</form>
