<form class="form" name="form">
    <div class="offer-details">
        <h4>I want to</h4>
        <div class="form-group offer_type">
            <div data-toggle="buttons" class="btn-group">
                <label type="button" class="offer-type-buy btn btn-default">
                    <input type="radio" name="offer_type" autocomplete="off" value="buy"><!-- react-text: 2442 -->Buy<!-- /react-text --><!-- react-text: 2443 --> <!-- /react-text --><!-- react-text: 2444 -->Bitcoin<!-- /react-text -->
                </label>
                <label type="button" class="offer-type-sell btn btn-danger active">
                    <input type="radio" name="offer_type" autocomplete="off" value="sell"><!-- react-text: 2447 -->Sell<!-- /react-text --><!-- react-text: 2448 --> <!-- /react-text --><!-- react-text: 2449 -->Bitcoin<!-- /react-text -->
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="offer-details">
        <h4>Price</h4>
        <div class="offer-extra-fields">
            <div class="form-group price">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-sm-5 col-xs-7"><label>bitUSD Price</label></div>
                            <div class="col-sm-4 text-right col-xs-5 value"><strong>4.8018 GHS / bitUSD</strong></div>
                            <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                        </div>
                    </div>
                    <div class="col-md-5"><span class="explanation">Price of 1 bitUSD in GHS</span></div>
                </div>
            </div>
            <div class="form-group" data-ng-if="$root.coin_currency != 'usdt'">
                <div class="form-group price-for-maker">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-6"><label><span>Bitcoin price that you receive</span></label></div>
                                <div class="col-sm-4 text-right col-xs-6 text-xs-right">
                                    <strong>
                                        <!-- react-text: 2476 --> <!-- /react-text --><!-- react-text: 2477 -->30,348.55 GHS<!-- /react-text --><!-- react-text: 2478 --> / <!-- /react-text --><!-- react-text: 2479 -->BTC<!-- /react-text -->
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <span class="explanation">
                                <span>
                                    <!-- react-text: 2483 -->This is the <!-- /react-text --><!-- react-text: 2484 -->Bitcoin<!-- /react-text --><!-- react-text: 2485 --> price at current <!-- /react-text --><!-- react-text: 2486 -->Bitstamp (Blockchain)<!-- /react-text --><!-- react-text: 2487 --> rate (<!-- /react-text --><strong class="text-primary">6320.24</strong><!-- react-text: 2489 -->). The price will fluctuate when <!-- /react-text --><!-- react-text: 2490 -->Bitstamp (Blockchain)<!-- /react-text --><!-- react-text: 2491 --> rate changes.<!-- /react-text -->
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group price-for-taker">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-6"><label><span>Bitcoin price that buyers see</span></label></div>
                                <div class="col-sm-4 text-right col-xs-6 text-xs-right">
                                    <strong>
                                        <!-- react-text: 2577 --> <!-- /react-text --><!-- react-text: 2578 -->30,652.03 GHS<!-- /react-text --><!-- react-text: 2579 --> / <!-- /react-text --><!-- react-text: 2580 -->BTC<!-- /react-text -->
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">The price has been accounted with trading fee (buyer pay the fee).</span></div>
                    </div>
                </div>
                <div class="form-group currency">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Currency</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>GHS</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">Currency in exchange for BTC</span></div>
                    </div>
                </div>
                <div class="form-group reference_exchange">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Reference Exchange</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>Bitstamp (Blockchain)</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">Exchange that will be used to update your advertisement price</span></div>
                    </div>
                </div>
                <div class="form-group min_coin_price">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Minimum Bitcoin price</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong></strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">The minium price you are willing to sell 1 Bitcoin for (base on GHS)</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="offer-details limitation-section">
            <h4>Limitation</h4>
            <div class="offer-extra-fields">
                <div class="form-group min_amount">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Minimum BTC amount</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>0.0100 BTC</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">Minimum BTC amount in one trade. (at least 0.001 BTC)</span></div>
                    </div>
                </div>
                <div class="form-group max_amount">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Maximum BTC amount</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>2.0000 BTC</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">Maximum BTC amount in one trade</span></div>
                    </div>
                </div>
                <div class="form-group total_amount">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Total BTC amount</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>2.0000 BTC</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">Total amount of BTC that you are going to sell.</span></div>
                    </div>
                </div>
                <div class="form-group country_code">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Location</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>Ghana</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation"></span></div>
                    </div>
                </div>
                <div class="form-group require_verified_buyer">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7"><label>Reject unverified buyer</label></div>
                                <div class="col-sm-4 text-right col-xs-5 value"><strong>No</strong></div>
                                <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                            </div>
                        </div>
                        <div class="col-md-5"><span class="explanation">Accepting only verified buyer to make your trades much safer</span></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="offer-details payment-section">
        <h4>Payment informations</h4>
        <div class="offer-extra-fields">
            <div class="form-group payment_method">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-sm-5 col-xs-7"><label>Payment method</label></div>
                            <div class="col-sm-4 text-right col-xs-5 value"><strong>Bank transfer</strong></div>
                            <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                        </div>
                    </div>
                    <div class="col-md-5"><span class="explanation"></span></div>
                </div>
            </div>
            <div class="form-group payment_time">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-sm-5 col-xs-7"><label>Payment window</label></div>
                            <div class="col-sm-4 text-right col-xs-5 value"><strong>15 minutes</strong></div>
                            <div class="col-sm-3 text-left col-xs-12 text-xs-right"><a class="btn-change">Change</a></div>
                        </div>
                    </div>
                    <div class="col-md-5"><span class="explanation">If buyer does not pay within the payment time, the trade will be cancelled automatically</span></div>
                </div>
            </div>
            <div class="offer-details">
                <div class="local-bank-payment-details">
                    <div class="form-group bank_name has-feedback">
                        <label>Bank name</label>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="remi-colorized-field has-success">
                                    <select class="ui-select-container form-control" id="bank_name" name="payment_details.bank_name">
                                        <option></option>
                                        <option value="Ecobank">Ecobank</option>
                                        <option value="Access Bank">Access Bank</option>
                                        <option value="Guaranty Trust Bank">Guaranty Trust Bank</option>
                                    </select>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group bank_account_number has-feedback">
                            <label>Bank account number</label>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="remi-colorized-field undefined">
                                        <input class="form-control" id="bank_account_number" name="payment_details.bank_account_number" value=""><span></span>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                        </div>
                        <div class="form-group bank_account_name has-feedback">
                            <label>Bank account name</label>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="remi-colorized-field undefined">
                                        <input class="form-control" id="bank_account_name" name="payment_details.bank_account_name" value="">
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn-save-offer btn btn-primary">
            <!-- react-text: 2539 -->Create<!-- /react-text -->
        </button>
    </div>
</form>
