<div id="page-head" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title {{ pageTitleCss }}">{{ pageTitle }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="text"></div>
            </div>
        </div>
    </div>
</div>