<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-text">
                <select v-model="paymentMethod.bank_name" required>
                    <option value="" disabled v-bind:selected="true">Select A Bank</option>
                    <option v-for="option in banks" v-bind:value="option.value" v-text="option.text"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Name of Bank</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-text">
                <input type="text" placeholder="Enter Account Name" v-model="paymentMethod.account_name" required>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Name of Bank Account</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-text">
                <input type="text" placeholder="Enter Account Number" v-model="paymentMethod.account_number" required>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Bank Account Number</p>
    </div>
</div>