<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-text">
                <select v-bind:name="'account-type[' + index + ']'" v-model="paymentMethod.service_provider" data-rule-required="true" data-msg-required="Select A Bank">
                    <option value="" disabled v-bind:selected="true">Select A Bank</option>
                    <option v-for="option in banks" v-bind:value="option.value" v-text="option.text"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Name of Bank</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-text">
                <input type="text" placeholder="Enter Account Name" v-bind:name="'account-name[' + index + ']'" v-model="paymentMethod.account_name" data-rule-required="true" data-msg-required="Enter Name of Bank Account">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Name of Bank Account</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-text">
                <input type="text" placeholder="Enter Account Number" v-bind:name="'account-number[' + index + ']'" v-model="paymentMethod.account_number" data-rule-required="true" data-msg-required="Enter Bank Account Number">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Bank Account Number</p>
    </div>
</div>